In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('datasets/train.csv')
print("Shape of the dataset: {}".format(df.shape))
df.head(10)

Shape of the dataset: (3048, 3)

   id                                              query  label
0   0                                 شرایط حذف ترم چیه؟      1
1   1    از کجا می تونم با دکتر وحیدی ارتباط برقرار کنم؟      2
2   2                  بوفه برداران تا ساعت چند باز است؟      2
3   3                     کمترین تعداد واحد چند عدد است؟      1
4   4                                       سنگ جامد است      5
5   5                          سرورای دانشکده مشکل دارن؟      3
6   6  کلاس آزمایشگاه فیزیک در دانشکده خودمان برگزار ...      2
7   7                               شرایط حذف پزشکی چیه؟      1
8   8           در شرایطی ساعت و روز کلاسی جابجا می شود؟      1
9   9                  سطل آشغال در کلاس 101 وجود ندارد.      4